.footer {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
  }
  
  .left {
    margin-left: 20px; 
  }
  
  .right {
    margin-right: 20px; 
  }
  