.custom-list {
    list-style: none;
  }
  .custom-list li {
    white-space: pre-line;
  } 

  .no-users {
    text-align: center;
    vertical-align: middle;
    height: 100px; /* Adjust the height as needed for your design */
  }