.form-group {
    margin-bottom: 20px;
  }
  
  .address-group {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  
    .btn-danger {
      margin-top: 10px;
    }
  }
  .address-section {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
  }
  .removeBtn {
    border: 1px solid #eee;
    height: 40px;
    width: 160px;
  
  }
  